body{
	margin: 0;
}
.imageViewer input {
	margin-bottom: 10px;
}

.imageViewer canvas {	
}

.container {
	
	float: left;
}
.vcanvas {
	border: 1px solid #aaa;	
}


.header{
	background:yellow;
	height:30px;
}
.thumblist{
	background:red;
	height:80px;
}
.layoutright {
	float: left;
}
#overlayCanvas
{
    position:absolute;
    z-index:100;
}
.footer{
	clear:both;
	background:gray;
}