body{
	margin: 0;
}
.imageViewer input {
	margin-bottom: 10px;
}

.imageViewer canvas {	
}

.container {
	
	float: left;
}


.vcanvas {
	border: 1px solid #aaa;	
}

.layoutright {
	float: left;
}
#overlayCanvas
{
    position:absolute;
    z-index:100;
}
